.cardContainer {
  background-color: #333;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 30rem;
  height: 15rem;

  display: grid;
  grid-template-columns: 40% 60%;
  color: rgba(255, 255, 255, 0.896);
  transition: all 0.3s ease;
}

.cardContainer img {
  height: 100%;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}

.productInfo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.productInfo h3 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.price {
  font-size: 1.1rem;
}

.price::after {
  content: "₩";
  margin-left: 0.2rem;
}

.amountContainer {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}

.amountContainer button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  color: #333;
  background-color:#fff;

  border: none;
  border-radius: 20%;
  margin-bottom: 1.8rem;
}

.amountContainer p {
  font-size: 1.1rem;
}

.remove {
  display: inline-block;
  padding: 0.15rem 0.6rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;

  background-color: rgba(255, 255, 255, 0.896);
  color: #333;
  transition: all 0.5s;
  margin-bottom: 0.5rem;
}

.colorOptions {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.colorBox {
  width: 1rem;
  height: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.colorBox:hover {
  transform: scale(1.1);
}

.total {
  font-size: 1.1rem;
}

.total::after {
  content: "€";
  margin-left: 0.2rem;
}

@media (max-width: 768px) {
  .cardContainer {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .cardContainer img {
    height: 25rem;
  }

  .productInfo h3 {
    font-size: 1.5rem;
  }

  .price {
    font-size: 1.3rem;
  }

  .amountContainer p {
    font-size: 1rem;
  }

  .remove,
  .total {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .cardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
  }

  .cardContainer img {
    height: 25rem;
  }

  .productInfo h3 {
    font-size: 1.2rem;
  }

  .price {
    font-size: 1.1rem;
  }

  .amountContainer p {
    font-size: 0.9rem;
  }

  .remove,
  .total {
    font-size: 0.9rem;
  }
}
